body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #020617;
}

nav a {
    color: #38bdf8;
    margin-left: 20px;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 80px 20px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}

.skills span {
    display: inline-block;
    background: #1e293b;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.5);
}

img {
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
